# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# visual studio stuff
*.suo
*.sdf
*.opensdf
*.user
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/